<div class="body">
    <div class="avatar-container">
      <!-- <mat-icon class="icon" fontIcon="edit"></mat-icon> -->
        <!-- <img [src]="imagePreview"
        *ngIf = "imagePreview"> -->
      </div>
      <div>
        <!-- <img class="picture" src="{{file.name}}"> -->
        <div>{{file}}</div>
        <h2>{{name}}</h2>
        <div class="form-text">{{status}}</div>
        <p>This post contains {{charseAmount}} characters</p>
        <button (click)="RemoveUser()">Remove user</button>
      </div>  
    
</div>
<!--  -->
