<div class="body">
  <input type="text" placeholder="Name" [value]="nameInputValue" (input)="onName($event)" #name>
  <textarea type="text" 
  placeholder="Status" 
  [value]="statusInputValue" 
  (input)="onStatus($event)" 
  onkeyup="this.value=this.value.substring(0,50);" 
  #status></textarea>

  <label for="avatar-input-file" class="avatar-upload">Avatar URL</label>
  <input type="file" id="avatar-input-file" accept="image/*" #image />
  <mat-icon class="icon" fontIcon="edit"></mat-icon>  

  <button type="button" (click)="addNewUser(name.value, status.value)" >Add User</button>

<!-- , triggerClick() -->
<!-- (change)="onFileChange($event)" -->
<!-- <div class="picture"> -->
  <!-- <img [src]="image" alt="">
</div>  -->